<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 	

    <context:component-scan base-package="service" />
    <context:component-scan base-package="model" />
    <context:annotation-config/>
 
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="com.mysql.jdbc.Driver" p:url="jdbc:mysql://localhost:3306/airbender"
        p:username="root" p:password="1234">
    </bean>
 
    <bean
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
        id="entityManagerFactory">
        <property name="persistenceUnitName" value="pUnit" />
        <property name="dataSource" ref="dataSource" />
    </bean>
 
	<bean id="jpaService" class="service.JpaService">  
         <property name="entityManagerFactory" ref="entityManagerFactory" />  
 	</bean>
 	
 	<bean id="LoginSuccessHandler" class="security.LoginSuccessHandler" />
 	
 	<bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
  		<constructor-arg ref="authenticationEntryPoint"/>
  	</bean>

 	<bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
	  <constructor-arg value="/home"/>
	</bean>
	
	<bean id="authenticationFailureHandler" class="org.springframework.security.web.authentication.ExceptionMappingAuthenticationFailureHandler">
      <property name="exceptionMappings">
        <props>
          <prop key="org.springframework.security.authentication.AccountExpiredException">/home</prop>
          <prop key="org.springframework.security.authentication.AccountStatusException">/home</prop>
          <prop key="org.springframework.security.authentication.AuthenticationCredentialsNotFoundException">/home</prop>
          <prop key="org.springframework.security.authentication.AuthenticationServiceException">/home</prop>
          <prop key="org.springframework.security.authentication.BadCredentialsException">/home</prop>
          <prop key="org.springframework.security.authentication.CredentialsExpiredException">/home</prop>
          <prop key="org.springframework.security.authentication.DisabledException">/home</prop>
          <prop key="org.springframework.security.authentication.InsufficientAuthenticationException">/home</prop>
          <prop key="org.springframework.security.authentication.InternalAuthenticationServiceException">/home</prop>
          <prop key="org.springframework.security.authentication.LockedException">/home</prop>
          <prop key="org.springframework.security.authentication.ProviderNotFoundException">/home</prop>
        </props>
      </property>
    </bean>
    
    <!--  <bean class="org.springframework.session.web.http.DefaultCookieSerializer">
	    <property name="cookieName" value="test_sessionid"></property>
	    <property name="cookiePath" value="/"></property>
	    <property name="domainNamePattern" value="^.+?\.(\w+\.[a-z]+)$"></property>
	    <property name=""></property>
	</bean> -->
<!--     <bean class="org.springframework.orm.jpa.JpaTransactionManager" -->
<!--         id="transactionManager"> -->
<!--         <property name="entityManagerFactory" ref="entityManagerFactory" /> -->
<!--     </bean> -->
 	
<!--     <tx:annotation-driven mode="aspectj" -->
<!--         transaction-manager="transactionManager" /> -->
    <context:spring-configured />
</beans>