/*Header*/
div.navbar div.container ul#rightnav 
  {
    list-style: none;
    text-align: right;
    padding: 10px 30px 0 0;
    margin: 0;
    float: right; 
  }
    div.navbar div.container ul#rightnav li 
    {
      display: inline-block;
      padding: 14px 12px; 
    }
      div.navbar div.container ul#rightnav li a, div#topbar ul#rightnav li button 
      {
        color: #FFF;
        text-decoration: none;
        font-size: 120%;
      }     
         
div#navbar 
{
  background-color: green;
  z-index: 5;
}

div#navbar div#container div#navbar-header a, div#navbar div#container div#navbar-ex-collapse ul#leftnav li a
{
    color: #FFF;
    text-decoration: none;
    font-size: 120%;
}

div#navbar div#container div#icons ul#icons-nav
{
    list-style: none;
    text-align: left;
    padding: 10px 0 0 30px;
    margin: 0;
    float: left; 
}
    div#navbar div#container div#icons ul#icons-nav li
    {
      display: inline-block;
      padding: 0 10px 0 10px; 
    }
    
    #search 
    {
        width: 240px;
        margin-top:7px;
    }
 
/*Login*/        
div#login
{
  position: absolute;
  top: 80px;
  right: 200px;
  margin: auto;
  display: none;
  width: 350px;
  height: 300px;
  z-index: 1;
}

div#login h1
{
	color: green;
}

div#signup
{
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 350px;
  height: 300px;
  z-index: 1;
}
div.loginBox 
{
  width: 350px;
  height: 270px;
  background-color: green;
  box-sizing: border-box;
  padding: 10px;
  
}

div.signupBox 
{
  width: 350px;
  height: 1600px;
  background-color: green;
  box-sizing: border-box;
  padding: 10px;
  
}
  div.loginBox div.form-text, div.signupBox div.form-text 
  {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 120%;
  	color: #FFFFFF;
     
  }
  div.loginBox input, div.signupBox input 
  {
    display: block;
    width: 310px;
    margin-left: 10px;
    border: 2px #000 solid;
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 15px;
    padding: 3px 5px;
    outline: none;
  	color: #000000; 
  }
  div.loginBox .loginButtons,div.signupBox .loginButtons 
  {
    text-align: right;
    width: 350px; 
  }
  div.loginBox button.submit-user, div.signupBox button.submit-user 
	{
    color: #5a717b;
    font-size: 120%;
    background-color: #d8edcb;
    width: 140px;
    padding: 4px 0px;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    float:right;
    margin-right: 46px; 
  }
  
  div.loginBox button.cancel, div.signupBox button.cancel 
	{
    color: #5a717b;
    font-size: 120%;
    background-color: #d8edcb;
    padding: 4px 0px;
    width: 140px;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    float:left;
    margin-left: 25px; 
  }
div#signup h1
{
	color: green;
}

.image-responsive
{
	height: 400px;
}